# Kafka Configuration
KAFKA_BOOTSTRAP_SERVER=localhost:9092
KAFKA_INPUT_TOPIC=ovn-metrics-raw
KAFKA_OUTPUT_TOPIC=ovn-metrics-json
KAFKA_CONSUMER_GROUP=ovn-metrics-group

# Prometheus Client Configuration
PROMETHEUS_PORT=8001

# Logging Configuration
LOG_LEVEL=INFO
